html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.line-clamp-1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  /* Limit 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  /* Limit 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.line-clamp-4 {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  /* Limit 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.line-clamp-5 {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  /* Limit 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-8 {
  display: -webkit-box;
  line-clamp: 8;
  -webkit-line-clamp: 8;
  /* Limit 8 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent;
}

.masonry-container {
  column-count: 1;
  column-gap: 8px;
}

.masonry-container .masonry-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  break-inside: avoid;
}

/* Responsive columns */
@media (min-width: 600px) {
  .masonry-container {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .masonry-container {
    column-count: 3;
  }
}

::selection {
  background-color: var(--tblr-primary);
  color: #fff;
}

body .w-md-editor-text-pre>code,
body .w-md-editor-text-input {
  font-size: 16px !important;
  line-height: 24px !important;
}

body .w-md-editor-bar {
  right: 15px;
}

body .w-md-editor-toolbar {
  background-color: transparent !important;
  padding-left: 12px;
}


body .w-md-editor-toolbar li.active>button {
  background-color: var(--tblr-primary);
  color: #fff;
}

body .w-md-editor-toolbar li>button {
  padding: 8px;
  height: 40px;
  width: 40px;
  color: var(--tblr-gray-500);
}

body .w-md-editor-toolbar li>button>svg {
  width: 18px;
  height: 18px;
}

body .w-md-editor-toolbar li>button:hover {
  background-color: var(--tblr-primary);
  color: #fff;
}

body .w-md-editor {
  background-color: var(--tblr-card-bg) !important;
  border-radius: 0 0 6px 6px;
}

body .w-md-editor-content pre>code {
  padding-left: 4px;
  padding-bottom: 4px;
  color: var(--tblr-body-color) !important;
}

body .w-md-editor-area {
  border-radius: 0;
  border-radius: 0 0 0 6px;
  background-color: var(--tblr-body-bg) !important;
}

body .wmde-markdown {
  background-color: var(--tblr-card-bg) !important;
}